.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  background-color: #445e7f;
  border-radius: 0 0 8px 8px;
}

.homeLink {
  color: #ced2db;
  text-decoration: none;
}

.title {
  margin: 4px 0;
  animation-iteration-count: infinite;
  animation-name: pulsate;
  animation-direction: alternate;
  animation-duration: 3s;
}

.actions {
  display: flex;
  gap: 12px;
  margin: 4px 0;
}

@keyframes pulsate {
  from {
    text-shadow: #e6de00 1px 0 3px;
  }
  to {
    text-shadow: #e6de00 1px 0 7px;
  }
}
