.pageContainer {
  offset: scroll;
  position: absolute;
  top: 0;

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0000008a;
}

.modalContainer {
  background-color: #403f2a;
  padding: 12px;
  border-radius: 8px;
  border: solid #258eb3;
}
