.adminContainer {
  /* height: 100%; */
  text-align: center;
}

.modalContainer {
  text-align: center;
}

.modalButtons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.gamesMetaActions {
  display: flex;
  justify-content: space-around;
}

.editMetaAction {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
